/* Normalize CSS */
@import url('normalize.css');

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4F4F4; /* Background Color */
    color: #333333; /* Text Color */
}

/* HEADER PARTS */
header {
    display: flex;
    justify-content: space-between; /* Space between elements */
    align-items: center; /* Vertically align */
    padding: 20px; /* Spacing around the header */
    background-color: #0d2c70d8; /* Background color of the header */
    color: #fff;
}

.logo-and-title {
    display: flex;
    align-items: flex-start; /* Align logo and title at the top */
}

#logo {
    max-width: 120px; /* Adjust the size of the logo */
    margin-right: 15px; /* Spacing between the logo and the title */
}

.logo-and-title h1,
.logo-and-title h3 {
    margin: 0; /* Remove default margin from h1 and h3 */
}

nav {
    margin-left: auto; /* Push the nav to the right */
}

nav ul {
    list-style: none; /* Remove bullet points from the list */
    display: flex; /* Display list items in a row */
    padding: 0; /* Remove default padding */
}

nav ul li {
    margin-left: 20px; /* Spacing between menu items */
}

nav ul li a {
    text-decoration: none; /* Remove underline from links */
    color: #fff; /* Text color */
    font-weight: bold; /* Make text bold */
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: overline; /* Underline on hover */
    color: yellow; /* Color on hover */
}

nav ul li a.active {
    color: yellow; /* Changez la couleur pour indiquer l'élément actif */
    font-weight: bold; /* Met en gras l'élément actif */
}

/* FOOTER PARTS */
footer {
    background-color: #0d2c70d8;
    color: #fff;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Pour permettre le passage à la ligne si l'espace est limité */
    margin: 0;
    padding: 0 25px;
}

.left, .center, .right {
    flex: 1;
    margin: 0; /* Remove default margin */
    text-align: left;
}

nav.sociallinks {
    display: flex;
    justify-content: center; /* Centrer les icônes */
}

nav.sociallinks a {
    margin: 0 5px; /* Espacement entre les icônes */
}

nav.sociallinks img {
    width: 50px; /* Ajustez la taille des icônes */
    height: 50px; /* Ajustez la taille des icônes */
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .member-list {
        flex-direction: column;
        align-items: center;
    }

    .member-card {
        width: 90%; /* Full width on small screens */
    }
}

@media (min-width: 769px) {
    .member-card {
        width: calc(33% - 20px); /* 3 cards per row */
    }
}

/* DIRECTORY PARTS */
main {
    padding: 20px;
}

h2 {
    color: #003366; /* Primary Color */
}

.member-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.member-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    width: 300px; /* Adjust for your design */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.member-card:hover {
    transform: scale(1.05);
}

.member-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.member-card p {
    margin: 5px 0;
}

/* HOME PAGE PARTS */
.hero {
    position: relative;
}

.responsive-hero {
    width: 100%;
    height: auto;
}

.cta-ticket {
    position: absolute;
    bottom: 60px;
    right: 60px;
    background-color: #f39c12;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

h1 {
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
}

.weather {
    width: 23%;
}

.weather-content {
    display: flex;
    align-items: flex-start;
}

.weather-icon {
    max-width: 75px;
    margin-right: 10px;
}

.weather-info {
    line-height: 2;
}

/* Styles pour les sections */
section {
    background-color: #f0f0f0; /* Couleur de fond pour les sections */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Couleur spécifique pour les en-têtes */
h2 {
    background-color: #0d2c70; /* Couleur d'arrière-plan des titres */
    color: white;
    padding: 10px;
}

/* Conteneur pour les sections parallèles */
.parallel-sections {
    display: flex;
    justify-content: space-between; /* Espace entre les sections */
    gap: 10px;
    margin-bottom: 20px; /* Espace sous les sections */
}

.events, .weather, .forecast {
    padding: 20px;
    background-color: #fff; /* Couleur de fond */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

#weather-image {
    max-width: 50px; /* Ajuste la taille de l'icône */
    margin-right: 10px; /* Espace entre l'image et le texte */
}

/* JOIN PARTS */
.form-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.application-form, .membership-levels {
    width: 45%;
    gap: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select, textarea {
    width: calc(100% - 16px); /* Full width accounting for padding */
    margin: 5px 0; /* Spacing between inputs */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:required {
    border: 1px solid red; /* Border for required fields */
}

input:not(:required) {
    border: 1px solid black; /* Border for optional fields */
}




/* **************** */

.membership-radio {
    margin: 10px 0; /* Espace entre cette section et les autres éléments */
    text-align: left; /* Aligne le texte à gauche */
}

.membership-radio label {
    display: flex; /* Utilise Flexbox pour l'alignement */
    align-items: center; /* Centre verticalement le texte avec le bouton */
    margin-bottom: 5px; /* Espace entre chaque option */
    cursor: pointer; /* Curseur main au survol */
}

.membership-radio input[type="radio"] {
    margin-right: 10px; /* Espace entre le bouton et le texte */
    transform: scale(1.2); /* Agrandir le bouton pour le rendre plus visible */
    appearance: radio; /* S'assurer que le style par défaut est appliqué */
}

/* Styles pour éviter les bordures indésirables */
.membership-radio {
    list-style: none; /* Supprime les puces de liste */
    padding: 0; /* Supprime le padding par défaut */
    margin: 0; /* Supprime la marge par défaut */
}

/* Pour les boutons et les champs de saisie */
input[type="radio"],
input[type="checkbox"] {
    -webkit-appearance: radio; /* Retire le style par défaut sur WebKit */
    -moz-appearance: radio; /* Retire le style par défaut sur Firefox */
    appearance: radio; /* Retire le style par défaut sur d'autres navigateurs */
}

/* *************** */
.membership-cards {
    display: flex;
    flex-direction: column; /* Permet de les empiler verticalement */
    gap: 10px; /* Espacement entre les cartes */
}

.membership-card {
    background: #f9f9f9;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0 20px 0 20px;
    transition: transform 0.3s;
}

/* Animation d'apparition des cartes */
.membership-card:hover {
    transform: translateY(-10px); /* Légère montée au survol */
}

/* Animation pour toutes les cartes lors du survol d'une seule */
.membership-card:hover ~ .membership-card,
.membership-card:hover {
    transform: translateY(-10px); /* Légère montée au survol */
}





/* *************************************************** */

/* Boutons de soumission */
.submit-button {
    width: 45%; /* Spécifiez une largeur fixe */
    margin: 20px auto 0; /* Centre le bouton avec espace au-dessus */
    padding: 10px;
    background-color: #28a745; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte du bouton */
    border: none; /* Pas de bordure */
    border-radius: 4px; /* Coins arrondis */
    cursor: pointer; /* Curseur main au survol */
    display: block; /* Nécessaire pour que margin auto fonctionne */
}

.submit-button:hover {
    background-color: #ffd501; /* Couleur du bouton au survol */
    color: #000;
}


/* Vendor-specific styles */
input, textarea, select {
    -webkit-appearance: none; /* Suppress default styling for WebKit browsers */
    -moz-appearance: none; /* Suppress default styling for Firefox */
}




.submission-details {
    background-color: #ffffff; /* Couleur de fond blanche */
    border: 1px solid #ccc; /* Bordure grise */
    border-radius: 8px; /* Coins arrondis */
    padding: 20px; /* Espacement interne */
    margin: 20px auto; /* Centrer le conteneur */
    max-width: 600px; /* Largeur maximale pour une meilleure lisibilité */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère pour donner de la profondeur */
}

h2 {
    color: #fff; /* Couleur pour le titre */
    text-align: center; /* Centrer le titre */
    margin-bottom: 15px; /* Espace sous le titre */
}

p {
    margin: 10px 0; /* Espace vertical entre les paragraphes */
    line-height: 1.5; /* Espacement entre les lignes pour plus de lisibilité */
}

strong {
    color: #333; /* Couleur du texte fort */
}
